{% extends 'base.html.twig' %}

{% block title %}{{ tutoriel.name }}{% endblock %}

{% block pageTitle %}
    <p>{{ tutoriel.name }}</p>
    <button onclick="window.location.href='{{ path('app_home')}}'">
        Retour
        <span class="material-symbols-outlined">keyboard_return</span>
    </button>
{% endblock %}

{% block body %}
    <button id="classic-button">Format classique</button>
    <button id="video-button">Format vidéo</button>
    {% if tutoriel.contents is empty %}
        <div class="tutoriel-classique" hidden>
            <p>Pas de tutoriel textuel disponible 😞</p>
        </div>
        <div class="tutoriel-video">
            <iframe width="1120" height="630" src="https://www.youtube.com/embed/{{ tutoriel.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; picture-in-picture;" allowfullscreen></iframe>
        </div>
    {% else %}
        <div class="tutoriel-classique">
            {% for step in tutoriel.contents %}
                {% set counter = (counter|default(0)) + 1 %}
                <div class="tutoriel-step">
                    <p>Etape {{ counter }}</p>
                    <p>{{ step.text }}</p>
                    <img src="{{ asset(step.image) }}" alt="{{ step.text }}" height="300px" width="auto"/>
                </div>
            {% endfor %}
        </div>
        <div class="tutoriel-video" hidden>
            {% if tutoriel.video %}
                <iframe width="1120" height="630" src="https://www.youtube.com/embed/{{ tutoriel.video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; picture-in-picture;" allowfullscreen></iframe>
            {% else%}
                <p>Pas de video disponible pour ce tutoriel 😞</p>
            {% endif %}
        </div>
    {% endif %}

<script src={{ asset('assets/scripts/tutoriels_selector.js') }}></script>
{% endblock %}
